@page "/"
@using System.Net.Http.Headers;
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
<h1>Welcome!</h1>

@if (IsAuthenticated)
{
    <p>Please login to use the server features.</p>
    <div class="text-center">
        <a href="/login">Login</a>
    </div>
}
else
{
    <p>User logged in!</p>
}

@code
{
    private AuthenticationState authState;

    private bool IsAuthenticated => authState?.User?.Identity?.IsAuthenticated ?? false;
    
}