@page "/"
@using CPULogFrontend.Services.ServerService;
@inject HttpClient http;
@inject IServerService serverService;

<h1>Cpu Log</h1>

Welcome!
<br>
<button class="btn btn-primary" @onclick="StartServer">start server</button>

@code
{

    public async void StartServer()
    {
        await serverService.StartServer();
    }

}